body {
  background: #181d3a;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1ch;
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
  min-width: 0px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: linear-gradient(90deg, #3c56ff, #a200ff);
  box-shadow: 0px 0px 21px 0px rgba(18, 14, 14, 0.88);
  overflow: hidden;
  padding: 20px 8px;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  width: 44px;
}

.logo_name {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: left;
  max-width: 150px;
  display: flex;
  gap: 10px;
}

.logo_name:hover {
  color: rgb(0, 195, 255);
  transition-duration: 0.25s;
}

.navigation {
  margin-top: 100px;
}

.navigation-links {
  display: block;
  text-align: left;
  margin-bottom: 12px;
  margin-left: 4px;
}
.navigation-links a {
  color: rgb(255, 255, 255);
}

.navigation-links-active {
  max-width: max-content;
  border-bottom: 2px solid #e5e5e5;
}

.input_search {
  border: 1px solid #4d677c;
  border-radius: 4px;
  background-color: #507490;
  max-height: 27px;
  max-width: 320px;
}

.search-form-txt {
  padding: 0 10px;
  display: block;
  width: 320px;
  font-family: inherit;
  font-weight: 400;
  color: #e5e5e5;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input_search {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}

.search-form-image {
  border-radius: 2px;
  margin-right: 1px;
}

.section_title {
  color: rgb(229, 229, 229);
  font-size: 27px;
  margin-bottom: 8px;
}

.free_games {
  padding-top: 15px;
}

.free_games_links {
  padding-bottom: 36px;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: content-box;
  display: flex;
  flex-wrap: nowrap;
  gap: 13px;
}

.free_games_links img {
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: content-box;
  display: flex;
  flex-wrap: nowrap;
  max-width: 272px;
}

.info_table_games_popular_recommended {
  max-width: 272px;
  height: 40px;
  color: #e5e5e5;
}

.info_table_games_popular_recommended-red {
  background: linear-gradient(9deg, #210c0c, #9b0d0d);
}

.info_table_games_popular_recommended-purple {
  background: linear-gradient(9deg, #fa28f3, #6717cd);
}

.info_table_games_popular_recommended-orange {
  background: linear-gradient(9deg, #8a4913, #fa5228);
}

.info_table_games_popular_recommended-green {
  background: linear-gradient(9deg, #0f7527, #0cbb0c);
}

.info_table_games_popular_recommended-yellow {
  background: linear-gradient(9deg, #3d4313, #8d9e0b);
}

.info_table_games_popular_recommended p {
  font-size: 13px;
  padding-left: 15px;
  padding-top: 5px;
  line-height: 13px;
  font-weight: 800;
}

.info_table_games_popular_recommended span {
  font-size: 11px;
  padding-right: 20px;
  display: flex;
  justify-content: end;
}

.popular_games {
  padding-top: 15px;
  padding-bottom: 16px;
}

.game {
  font-size: 13px;
  color: #e5d5d5;
  padding-top: 15px;
  right: -5px;
  display: block;
}

.game-icon {
  width: 100%;
  max-width: 320px;
}

.info_table_games {
  width: 100%;
  max-width: 320px;
  height: 40px;
  color: #e5e5e5;
}

.info_table_games span {
  font-size: 11px;
  padding-right: 20px;
  display: flex;
  justify-content: end;
}

.info_table_games_red-blue {
  background: linear-gradient(9deg, #0062ff, #d70b0b);
}

.info_table_games_green-blue {
  background: linear-gradient(9deg, #13b813, #076ff6);
}

.info_table_games_orange-red {
  background: linear-gradient(9deg, #b94a1f, #d55a5a);
}

.popular_games-links {
  display: flex;
  gap: 10px;
}

.table-games {
  padding-bottom: 20px;
}

.btn {
  border-radius: 5px;
  color: #e5e5e5;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  height: 36px;
  width: 194px;
  letter-spacing: 0.1ch;
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
  background: linear-gradient(9deg, #9797f8, #b646ef);
}
