body {
  background: #181d3a;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1ch;
  text-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
  min-width: 0px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: linear-gradient(-54deg, #171a21, #19274b);
  box-shadow: 0px 0px 21px 0px rgba(18, 14, 14, 0.88);
  overflow: hidden;
  padding: 20px 8px;
  z-index: 10;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.logo {
  display: flex;
  width: 44px;
}

.logo_name {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: left;
  max-width: 150px;
  display: flex;
  gap: 10px;
}

.logo_name:hover {
  color: rgb(0, 195, 255);
  transition-duration: 0.25s;
}

.gear {
  width: 27px;
  height: 27px;
  filter: invert(98%) sepia(1%) saturate(224%) hue-rotate(195deg)
    brightness(114%) contrast(80%);
}

.gear:hover {
  filter: invert(52%) sepia(0%) saturate(78%) hue-rotate(194deg)
    brightness(106%) contrast(94%);
  transition-duration: 0.25s;
}

.loupe {
  width: 27px;
  height: 27px;
  filter: invert(98%) sepia(1%) saturate(224%) hue-rotate(195deg)
    brightness(114%) contrast(80%);
}

.loupe:hover {
  filter: invert(52%) sepia(0%) saturate(78%) hue-rotate(194deg)
    brightness(106%) contrast(94%);
  transition-duration: 0.25s;
}

.nav_bar {
  background: linear-gradient(-54deg, #4a5a86, hsl(223, 50%, 20%));
  box-shadow: 0px 0px 21px 0px #4a5a86;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  overflow: hidden;
  z-index: 9;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: center;
  position: fixed;
}

.navigation {
  padding-top: 77px;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: content-box;
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  padding-bottom: 10px;
  padding-left: 15px;
  text-transform: uppercase;
  padding-right: 15px;

  border-right: 1px solid #e5e5e5;
}

.navigation-links {
  display: block;
  margin-top: 3px;
}

.navigation-links a {
  color: #e5e5e5;
  display: block;
  white-space: nowrap;
}

.navigation-links-active a {
  font-weight: 600;
  color: rgb(0, 195, 255);
  border-bottom: 2px solid rgb(0, 195, 255);
}

.navigation-links a:hover {
  transition-duration: 0.25s;
  color: rgb(0, 195, 255);
}

.games_news {
  margin-top: 134px;
  padding-top: 20px;
}

.section_title {
  color: rgb(229, 229, 229);
  font-size: 13px;
  margin-bottom: 8px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.games_news-table {
  margin-bottom: 16px;
  max-width: 320px;
  height: 100%;
  max-width: 300px;
  background: linear-gradient(-54deg, #4a5a86, #19274b);
  padding: 10px;
  border-radius: 5px;
}

.game {
  font-size: 9px;
  color: #e5d5d5;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

.info-game {
  font-size: 9px;
  color: #e5d5d5;
  padding-top: 3px;
  padding-bottom: 10px;
  display: block;
}

.headline {
  font-size: 13px;
  color: #e5d5d5;
  font-weight: bold;
}

.icon {
  max-width: 320px;
  width: 100%;
}

.reaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 9px;
}

.games_news-buildboard {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.reaction a {
  fill: #ffffff;
  color: #ffffff;
}

.RateIcon {
  align-items: center;
  display: flex;
  padding-left: 30px;
}

.RateIcon:hover {
  transition-duration: 0.25s;
  fill: #0099ff;
}

.Options {
  padding-right: 30px;
}

.Options:hover {
  transition-duration: 0.25s;
  fill: #0099ff;
}
.CommentIcon {
  align-items: center;
  display: flex;
}

.CommentIcon:hover {
  transition-duration: 0.25s;
  fill: #0099ff;
}
