body {
  background-color: black;
}

.container {
  max-width: 340px;
  padding: 0 10px;
  margin: 0 auto;
}

.responsive_header_logo {
  max-height: 30px;
}

.бык {
  max-height: 30px;
}

img {
  max-height: 30px;
}
